#!/usr/bin/config



# MY COMPUTER
OS_TYPE			 GNU/Linux
OS_NAME			 Linux_Mint #best distro ever
CPU_ARCHITECTURE amd64
CPU_CORES		 8			#physical & virtual
RAM_SIZE		 8GB
#RAM_TYPE		 DDR3 # (older type)
RAM_TYPE		 DDR4
